@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Honk&family=Kanit:ital,wght@0,600;0,700;1,900&family=Lato:wght@100;300;400&family=Montserrat:wght@400;600&family=Noto+Sans:wght@300;600&family=PT+Sans:wght@400;700&family=Roboto+Mono:wght@600&family=Roboto:wght@300;500;900&family=Sixtyfour&display=swap');
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import url(https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap);

@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Uncial Antiqua', cursive;
  background-color: #1b1b1b;
  color: #fff;
}

.items-img {
  width: 640px;
  height: 360px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
    height: 100%
  }
}

.table-container {
  max-height: 300px;
  overflow-y: auto;
}

.items-name,
.items-prop {
  background-color: $text-main;
  color: black;
  font-weight: 600px;
}

.items-prop {
  font-size: 1.2rem;
}

.items-icon {
  color: $text-main
}

.items-description {
  width: 600px;
  border: 1px solid $text-main;
}