@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import url(https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap);

@import 'bootstrap/scss/bootstrap';

body {
    font-family: 'Uncial Antiqua', cursive;
    background-color: #1b1b1b;
    color: #fff;
  }
.items-img{
  width:640px;
  height:360px;
  overflow:hidden;
    img{
    width:100%;
    object-fit:contain;
    height:100%;
  }
}
.items-name,.items-prop{
  background-color: $text-main;
  color:black;
  font-weight:600px;
}
.items-prop{
  font-size:1.2rem;
}
.items-icon{
  color:$text-main
}
.items-description{
  width:600px;
  border: 1px solid $text-main;
}
.items-img:hover{
  transform: scale(1.05);
  transition: 0.3s;
  cursor:pointer
}
.items-description:hover{
  transform: scale(1.05);
  transition: 0.3s;
}